# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\1milions\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
